.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h4, b{
  color: #FFFFFF;
}

img{
  border-radius: 50%;
  width: 300px;
  border: 5px solid #2E352A; /* Use 'border' property to specify both width and color */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  
}

.section {
  background-color: #2E352A;
  padding: 25px;
}
.parentSection {
  text-align: center;
  margin-top: 5px;
}

img#icon {
  width: 40px;
  border: none;
  margin: 5px;
}
